input,
textarea {
  font-family: "Microsoft YaHei";
  border: 0;
  text-indent: 1em;
}
input[type="submit"] {
  text-indent: 0;
  cursor: pointer;
}
input[type="text"],
select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  &::-webkit-input-placeholder {
    color: #999999;
    font-size: inherit;
  }
  &:-moz-placeholder {
    color: #999999;
    font-size: inherit;
  }
  &::-moz-placeholder {
    color: #999999;
    font-size: inherit;
  }
  &:-ms-input-placeholder {
    color: #999999;
    font-size: inherit;
  }
}
%clearfix {
  zoom: 1;
  &:after {
    clear: both;
  }
  &:before,
  &:after {
    content: "";
    display: table;
  }
}
%in-b {
  display: inline-block;
  *zoom: 1;
  *display: inline;
}
$active-color: #00a8ff;
a {
  &:hover {
    color: $active-color;
  }
}
p {
  line-height: 1.8;
}
.point {
  &::before {
    @extend %in-b;
    content: "";
    width: 4px;
    height: 4px;
    margin-right: 5px;
    background: $active-color;
    border-radius: 50%;
    vertical-align: middle;
  }
}
.wrap {
  width: 1200px;
  margin: 0 auto;
}
body {
  font-size: 14px;
}
// 背景颜色过渡
.bac-ig {
  background-image: linear-gradient(-72deg, #f67f00 1%, #ffac54 100%);
}
// 背景颜色过渡 + box-shadow
.bac-shadow {
  background-image: linear-gradient(-72deg, #f67f00 1%, #ffac54 100%);
  box-shadow: 0px 2px 9px 0px rgba(247, 133, 12, 0.51);
}
.header {
  height: 87px;
  .fl {
    padding-top: 21px;
  }
  .fr {
    font-size: 16px;
  }
  .h-nav {
    float: left;
    padding-top: 31px;
  }
  li {
    float: left;
    padding-left: 36px;
    margin-left: 70px;
    line-height: 28px;
    background: url(../images/h_1.png) no-repeat left;
    &:nth-child(2) {
      background: url(../images/h_2.png) no-repeat left;
    }
    &:nth-child(3) {
      background: url(../images/h_3.png) no-repeat left;
    }
    &:nth-child(4) {
      background: url(../images/h_4.png) no-repeat left;
    }
  }
  .login {
    float: right;
    padding: 0 12px;
    margin-top: 30px;
    margin-left: 55px;
    height: 26px;
    line-height: 25px;
    @extend .bac-shadow;
    border-radius: 13px;
    color: #fff;
  }
}
.nav {
  background-color: #2c60c8;
  ul {
    text-align: center;
  }
  li {
    @extend %in-b;
    width: 130px;
    font-size: 16px;
  }
  a {
    display: block;
    line-height: 44px;
    color: #ffffff;
    &:hover {
      @extend .bac-ig;
    }
  }
}
.banner {
  // display: none;
  @extend %clearfix;
  padding: 20px 0;
  .fr {
    width: 286px;
    height: 625px;
    background-color: #f1f1f1;
  }
  .days {
    padding: 30px 0;
    margin-bottom: 20px;
    line-height: 31px;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    background: url(../images/days.png) no-repeat;
    text-align: center;
    .num {
      @extend %in-b;
      vertical-align: middle;
      span {
        @extend %in-b;
        width: 24px;
        height: 31px;
        margin: 0 2px;
        font-size: 30px;
        color: #f78308;
        background-color: #fffb8d;
        &:first-child {
          background: url(../images/bai.png) no-repeat;
        }
        &:last-child {
          background: url(../images/ge.png) no-repeat;
        }
      }
    }
  }
  .item {
    padding: 0 14px;
    margin-bottom: 16px;
    .i-title {
      padding-left: 13px;
      margin-bottom: 10px;
      font-size: 16px;
      line-height: 16px;
      font-weight: bold;
      background: url(../images/t_small.png) no-repeat left;
      span {
        float: right;
        font-size: 12px;
        font-weight: normal;
        color: #f78105;
      }
    }
    ul {
      @extend %clearfix;
      margin-right: -9px;
    }
    li {
      float: left;
      width: 80px;
      margin: 0 9px 11px 0;
      line-height: 30px;
      text-align: center;
      a {
        display: block;
        color: #666666;
        background-color: #ffffff;
        border-radius: 15px;
        &:hover {
          color: #fff;
          background-image: linear-gradient(-72deg, #2277e1 0%, #6ea4ec 100%);
        }
      }
    }
  }
}
.consult {
  text-align: center;
  .c-title {
    position: relative;
    font-size: 30px;
    line-height: 30px;
    font-weight: bold;
    &::after {
      position: absolute;
      left: 0;
      bottom: 4px;
      z-index: -1;
      content: "";
      width: 100%;
      height: 7px;
      background-image: linear-gradient(-90deg, #f67f00 1%, #ffac54 100%);
      border-radius: 4px;
    }
  }
  ul {
    padding-top: 40px;
  }
  li {
    @extend %in-b;
    width: 201px;
    height: 59px;
    margin: 0 14px;
    line-height: 58px;
    font-size: 18px;
    font-weight: bold;
    background-image: linear-gradient(-90deg, #2277e1 0%, #6ea4ec 100%);
    box-shadow: 0px 4px 10px 0px rgba(55, 119, 199, 0.28);
    a {
      display: block;
      color: #fff;
    }
    &:nth-child(2) {
      background-image: linear-gradient(-72deg, #f67f00 1%, #ffac54 100%);
      box-shadow: 0px 4px 10px 0px rgba(254, 123, 67, 0.28);
    }
    &:nth-child(3) {
      background-image: linear-gradient(-90deg, #bb8300 1%, #f3b014 100%);
      box-shadow: 0px 4px 10px 0px rgba(196, 139, 3, 0.28);
    }
  }
}
.one-take {
  // display: none;
  margin-bottom: 81px;
  .hot {
    height: 50px;
    line-height: 50px;
    padding-left: 82px;
    margin-bottom: 20px;
    font-size: 18px;
    background: url(../images/hot.png) no-repeat 19px #f1f1f1;
    span {
      margin-right: 80px;
    }
  }
  .merit {
    @extend %clearfix;
    margin: 0 -28px 24px 0;
    li {
      float: left;
      width: 306px;
      height: 100%;
      height: 121px;
      padding: 40px 35px 0 40px;
      margin-right: 28px;
      font-size: 34px;
      line-height: 44px;
      color: #ffffff;
      background: url(../images/bg_1.png) no-repeat;
      &.one {
        height: 111px;
        padding: 50px 35px 0 40px;
        text-align: center;
      }
      &:nth-child(2) {
        background: url(../images/bg_2.png) no-repeat;
      }
      &:nth-child(3) {
        background: url(../images/bg_3.png) no-repeat;
      }
    }
  }
  .notice {
    height: 70px;
    padding: 15px 68px 0 38px;
    margin-bottom: 17px;
    font-size: 18px;
    line-height: 29px;
    background-color: #e6f1ff;
    span {
      padding-left: 6px;
      color: #fff;
      background-color: #1959b2;
    }
    strong {
      color: #07469d;
    }
  }
  .hint {
    margin-bottom: 22px;
    line-height: 46px;
    font-size: 18px;
    text-align: center;
    span {
      @extend %in-b;
      width: 46px;
      height: 46px;
      @extend .bac-shadow;
      border-radius: 50%;
      color: #fff;
    }
  }
}
.guide {
  // display: none;
  padding: 55px 0 61px;
  background-color: #f2f2f2;
  .g-top {
    @extend %clearfix;
    margin: 0 -18px 55px 0;
    .item {
      float: left;
      width: 389px;
      height: 469px;
      margin-right: 19px;
      background-color: #ffffff;
      .i-head {
        height: 77px;
        padding-top: 20px;
        text-align: center;
        .h-title {
          padding-left: 26px;
          margin: 0 0 15px 22px;
          font-size: 24px;
          line-height: 24px;
          font-weight: bold;
          background: url(../images/t_big.png) no-repeat left;
          text-align: left;
        }
      }
      .i-detail {
        padding: 17px 18px 0;
      }
      .d-row {
        margin-bottom: 26px;
        span {
          @extend %in-b;
          width: 89px;
          padding-left: 19px;
          background: url(../images/nor.png) no-repeat left;
          cursor: pointer;
          &.on {
            background: url(../images/sel.png) no-repeat left;
          }
        }
      }
      .r-title {
        margin-bottom: 16px;
        font-size: 16px;
        line-height: 16px;
        font-weight: bold;
      }
      input {
        width: 171px;
        height: 49px;
        margin-bottom: 8px;
        line-height: 49px;
        background-color: #f2f2f2;
      }
      .auth {
        float: right;
        input {
          width: 120px;
        }
        .get-auth {
          float: right;
          width: 50px;
          background-color: #fff2e6;
          text-indent: 0;
          cursor: pointer;
          color: #f53f00;
        }
      }
      .submit {
        width: 100%;
        font-size: 18px;
        font-weight: bold;
        color: #fff;
        @extend .bac-ig;
      }
    }
    .first {
      .i-head {
        background-color: #2f4060;
        color: #fff;
      }
      .d-row {
        span {
          &:nth-of-type(1) {
            margin-left: 9px;
          }
        }
      }
    }
    .second {
      width: 388px;
      .i-head {
        margin: 0 17px;
        border-bottom: 1px solid #e3e3e3;
        .h-title {
          padding-left: 26px;
          margin: 0 0 15px 5px;
        }
      }
      .i-detail {
        padding: 24px 27px 0 27px;
      }
      .d-row {
        @extend %clearfix;
        margin-bottom: 20px;
        span {
          width: auto;
          padding-right: 20px;
          margin-bottom: 8px;
        }
      }
      .r-title {
        float: left;
        margin-bottom: 0;
        line-height: 40px;
      }
      .r-right {
        float: right;
        width: 219px;
      }
      input {
        width: 100%;
        height: 41px;
        margin-bottom: 0;
        line-height: 40px;
      }
      .hint {
        font-size: 16px;
        line-height: 26px;
        color: #f65700;
        text-align: center;
      }
    }
    .third {
      width: 384px;
      .i-head {
        height: 40px;
        padding-top: 16px;
        .h-title {
          margin: 0 26px 15px 22px;
          line-height: 32px;
          background: url(../images/t_big.png) no-repeat left, url(../images/a_right.png) no-repeat right;
        }
      }
      ul {
        padding: 0 26px 0 27px;
      }
      li {
        height: 41px;
        line-height: 41px;
        margin-bottom: 8px;
        border: solid 1px #dadada;
        padding-left: 75px;
        background: url(../images/icon_1.png) no-repeat left;
        a {
          display: block;
        }
        &:nth-child(2) {
          background: url(../images/icon_2.png) no-repeat left;
        }
        &:nth-child(3) {
          background: url(../images/icon_3.png) no-repeat left;
        }
        &:nth-child(4) {
          background: url(../images/icon_4.png) no-repeat left;
        }
        &:nth-child(5) {
          background: url(../images/icon_5.png) no-repeat left;
        }
        &:nth-child(6) {
          background: url(../images/icon_6.png) no-repeat left;
        }
        &:nth-child(7) {
          background: url(../images/icon_7.png) no-repeat left;
        }
        &:nth-child(8) {
          background: url(../images/icon_8.png) no-repeat left;
        }
      }
    }
  }
  .g-bottom {
    padding: 41px 0 41px 656px;
    // height: 212px;
    background: url(../images/bg_4.png) no-repeat;
    color: #fff;
    .sign-in {
      @extend %clearfix;
      font-size: 16px;
    }
    .b-title {
      float: left;
      width: 266px;
      font-size: 28px;
      line-height: 52px;
    }
    input,
    a {
      float: left;
      width: 239px;
      height: 52px;
      margin-bottom: 13px;
      line-height: 52px;
    }
    a {
      @extend .bac-ig;
      color: #ffffff;
      text-align: center;
    }
    .submit {
      margin-left: 27px;
      background-image: linear-gradient(-90deg, #2277e1 0%, #6ea4ec 100%);
      color: #ffffff;
    }
  }
}
.help {
  // display: none;
  height: 470px;
  background: url(../images/bg_5.png) no-repeat center;
  a {
    display: block;
    height: 100%;
  }
}
.title {
  font-size: 26px;
  line-height: 26px;
  color: #666666;
  background: url(../images/title.png) no-repeat center;
  text-align: center;
  strong {
    display: block;
    padding-top: 12px;
    font-size: 40px;
    font-weight: bold;
    line-height: 40px;
    color: #2c60c8;
  }
  span {
    color: #333;
  }
}
.exam {
  // display: none;
  padding: 60px 0;
  background-color: #f2f2f2;
  .tab {
    ul {
      @extend %clearfix;
      font-size: 16px;
      li {
        float: left;
        width: 164px;
        border-right: 1px solid #94a6cf;
        border-bottom: 1px solid #94a6cf;
        text-align: center;
        &:nth-of-type(2) {
          width: 187px;
        }
        &:nth-of-type(3) {
          width: 234px;
        }
        &:nth-of-type(4) {
          width: 259px;
        }
        &:nth-of-type(5) {
          width: 159px;
        }
        &:last-child,
        &:nth-of-type(6) {
          width: 189px;
        }
        // 考试日期重叠
        &:nth-of-type(7) {
          width: 187px;
        }
        &:nth-of-type(8) {
          width: 234px;
        }
        &:nth-of-type(9) {
          width: 259px;
        }
        &:nth-of-type(10) {
          width: 159px;
        }
      }
    }
  }

  .thead {
    height: 68px;
    margin-top: 35px;
    line-height: 68px;
    background-color: #2c60c8;
    border-radius: 24px 24px 0px 0px;
    border: solid 1px #94a6cf;
    font-weight: bold;
    color: #ffffff;
    li {
      &:last-child {
        border-right: none;
      }
    }
  }
  .tbody {
    .time {
      font-weight: bold;
      border-left: 1px solid #94a6cf;
    }
    .two-lines {
      line-height: 125px;
    }
    .score {
      padding: 8px 0;
      line-height: 23px;
    }
    li {
      line-height: 62px;
    }
    a {
      color: #c6072f;
      text-decoration: underline;
    }
  }
  p {
    padding: 30px 30px 0;
    font-size: 16px;
  }
}
.online {
  // display: none;
  padding: 70px 0 60px;
  .o-cont {
    @extend %clearfix;
    padding-top: 60px;
  }
  .fl {
    width: 260px;
    height: 275px;
    padding: 120px 20px 0;
    border-radius: 4px;
    background: url(../images/test.png) no-repeat;
    li {
      height: 51px;
      padding-left: 20px;
      margin-bottom: 13px;
      line-height: 51px;
      border-radius: 8px;
      font-size: 18px;
      color: #42567f;
      cursor: pointer;
      background: url(../images/c_nor.png) no-repeat 94% #fff;
      &.on {
        background: url(../images/c_sel.png) no-repeat 94% #2c60c8;
        font-weight: bold;
        color: #ffffff;
      }
    }
  }
  .fr {
    width: 899px;
    height: 393px;
    background-color: #ffffff;
    border-radius: 4px;
    border-top: solid 1px #e6e6e6;
    border-right: solid 1px #e6e6e6;
    border-bottom: solid 1px #e6e6e6;
    .item {
      display: none;
      &.on {
        display: block;
      }
    }
    .thead {
      height: 62px;
      background-color: #f7f7f7;
      border-radius: 4px;
      border-bottom: solid 1px #e6e6e6;
      ul {
        @extend %clearfix;
      }

      i,
      span {
        @extend %in-b;
        vertical-align: middle;
      }
      i {
        width: 26px;
        height: 26px;
        margin-right: 9px;
        background: url(../images/sprites.png) -58px -252px;
        cursor: pointer;
      }
      .on {
        height: 59px;
        font-weight: bold;
        line-height: 56px;
        border-top: 3px solid #2a58b4;
        color: #2a58b4;
        i {
          background: url(../images/sprites.png) -104px -252px;
        }
      }
      li {
        float: left;
        width: 174px;
        height: 62px;
        line-height: 62px;
        border-right: solid 1px #e6e6e6;
        text-align: center;
        font-size: 16px;
        color: #666666;
        cursor: pointer;
        &:nth-child(2) {
          i {
            background: url(../images/sprites.png) -288px -252px;
          }
          &.on {
            i {
              background: url(../images/sprites.png) -342px -10px;
            }
          }
        }
        &:nth-child(3) {
          i {
            background: url(../images/sprites.png) -150px -252px;
          }
          &.on {
            i {
              background: url(../images/sprites.png) -196px -252px;
            }
          }
        }
        &:nth-child(4) {
          i {
            background: url(../images/sprites.png) -342px -102px;
          }
          &.on {
            i {
              background: url(../images/sprites.png) -342px -148px;
            }
          }
        }
      }
    }
    .tbody {
      display: none;
      padding: 28px 0 0 45px;
      &.on {
        display: block;
      }
      .topic {
        margin-bottom: 10px;
        font-size: 18px;
        line-height: 28px;
      }
      .choice {
        li {
          margin-bottom: 19px;
          font-size: 16px;
          line-height: 22px;
          color: #444444;
          em {
            @extend %in-b;
            width: 22px;
            height: 22px;
            background-color: #ececec;
            border: solid 1px #cdcdcd;
            border-radius: 50%;
            text-align: center;
            cursor: pointer;
          }
          &.on {
            em {
              background-color: #2c60c8;
              border: solid 1px #2c60c8;
              color: #fff;
            }
          }
        }
      }
      .answer {
        @extend %clearfix;
        a {
          float: left;
          width: 121px;
          height: 44px;
          margin-right: 11px;
          line-height: 44px;
          background-image: linear-gradient(-90deg, #2277e1 0%, #6ea4ec 100%);
          box-shadow: 0px 2px 9px 0px rgba(26, 99, 208, 0.39);
          color: #fff;
          text-align: center;
          &:nth-child(2) {
            @extend .bac-shadow;
          }
        }
      }
    }
  }
}
// 全部课程
.all-course {
  padding: 29px 0 25px 460px;
  background: url(../images/form_1.png) no-repeat;
  .sign-in {
    @extend %clearfix;
  }
  input {
    float: left;
    width: 225px;
    height: 50px;
    line-height: 50px;
    background-color: #ffffff;
  }
  .auth {
    float: left;
    margin: 0 16px;
    input {
      width: 176px;
    }
    .get-auth {
      float: right;
      width: 49px;
      background-color: #fff2e6;
      text-indent: 0;
      cursor: pointer;
      color: #f53f00;
    }
  }
  .submit {
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background-image: linear-gradient(-90deg, #2277e1 0%, #6ea4ec 100%);
  }
  &.blue {
    background: url(../images/form_2.png) no-repeat;
    .submit {
      @extend .bac-ig;
    }
  }
}
.play {
  // display: none;
  padding: 25px 0 45px;
  background-color: #f2f2f2;
  .p-head {
    margin-bottom: 26px;
    font-size: 26px;
    line-height: 44px;
    span {
      color: #2c60c8;
    }
    a {
      float: right;
      width: 121px;
      height: 44px;
      line-height: 44px;
      @extend .bac-shadow;
      font-size: 16px;
      color: #ffffff;
      text-align: center;
    }
  }
  .p-cont {
    @extend %clearfix;
    margin-bottom: 30px;
  }
  .fl {
    width: 838px;
    height: 472px;
    .video {
      display: none;
      width: 100%;
      height: 100%;
      &.active{
        display: block;
      }
    }
  }
  .fr {
    width: 360px;
    height: 472px;
    overflow-y: auto;
  }
  .r-head {
    height: 69px;
    padding-left: 29px;
    line-height: 69px;
    background-color: #2f4060;
    font-size: 26px;
    color: #ffffff;
    i {
      @extend %in-b;
      width: 15px;
      height: 17px;
      margin-left: 9px;
      background: url(../images/down.png) no-repeat;
    }
  }
  ul {
    padding: 30px 28px 0 20px;
  }
  li {
    margin-bottom: 11px;
    font-size: 16px;
    line-height: 29px;
    color: #666666;
    a {
      display: block;
      &:hover {
        span {
          background-color: #639deb;
          color: #fff;
        }
      }
    }
    span {
      float: right;
      width: 48px;
      height: 27px;
      line-height: 27px;
      background-color: #ffffff;
      border: solid 1px #639deb;
      color: #639deb;
      text-align: center;
    }
    .test-play {
      span {
        border: solid 1px #ff8300;
        color: #ff8300;
      }
      &:hover {
        span {
          background-color: #ff8300;
          color: #fff;
        }
      }
    }
  }
}
.data {
  // display: none;
  padding: 40px 0;
  .d-cont {
    @extend %clearfix;
    margin-bottom: 30px;
  }
  li {
    font-size: 16px;
    line-height: 16px;
  }
  a {
    float: right;
    text-decoration: underline;
  }
  .fl {
    width: 752px;
    height: 411px;
    border-radius: 4px;
    border: solid 1px #e6e6e6;
  }
  .thead {
    height: 62px;
    background-color: #f7f7f7;
    border-radius: 4px;
    border-bottom: solid 1px #e6e6e6;
    ul {
      @extend %clearfix;
    }

    i,
    span {
      @extend %in-b;
      vertical-align: middle;
    }
    i {
      width: 26px;
      height: 26px;
      margin-right: 9px;
      background: url(../images/sprites.png) -58px -252px;
      cursor: pointer;
    }
    .on {
      height: 59px;
      font-weight: bold;
      line-height: 56px;
      border-top: 3px solid #2a58b4;
      color: #2a58b4;
      i {
        background: url(../images/sprites.png) -104px -252px;
      }
    }
    li {
      float: left;
      width: 24%;
      height: 62px;
      line-height: 62px;
      border-right: solid 1px #e6e6e6;
      text-align: center;
      font-size: 16px;
      color: #666666;
      cursor: pointer;
      &:nth-child(2) {
        i {
          background: url(../images/sprites.png) -342px -102px;
        }
        &.on {
          i {
            background: url(../images/sprites.png) -342px -148px;
          }
        }
      }
      &:nth-child(3) {
        i {
          background: url(../images/sprites.png) -150px -252px;
        }
        &.on {
          i {
            background: url(../images/sprites.png) -196px -252px;
          }
        }
      }
      &:nth-child(4) {
        border-right: 0;
        i {
          background: url(../images/sprites.png) -288px -252px;
        }
        &.on {
          i {
            background: url(../images/sprites.png) -342px -10px;
          }
        }
      }
    }
  }
  .tbody {
    display: none;
    padding: 20px 40px 0 24px;
    &.on {
      display: block;
    }
    li {
      @extend %clearfix;
      padding-left: 29px;
      margin-bottom: 20px;
      background: url(../images/word.png) no-repeat left;
      span {
        float: left;
        width: 468px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      a {
        color: #ff5801;
      }
    }
  }
  .fr {
    width: 383px;
    height: 391px;
    padding: 22px 24px 0 28px;
    background: url(../images/bg_6.png) no-repeat;
    li {
      padding-left: 18px;
      margin-bottom: 24px;
      background: url(../images/point.png) no-repeat;
    }
    a {
      color: #2c60c8;
    }
  }
  .h-title {
    padding-left: 26px;
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 24px;
    font-weight: bold;
    background: url(../images/t_big.png) no-repeat left;
    text-align: left;
  }
}
.course {
  padding-top: 40px;
  .title {
    margin-bottom: 40px;
    background: url(../images/title_2.png) no-repeat center;
  }
  .t-title {
    height: 75px;
    line-height: 75px;
    background-color: #2c60c8;
    border-radius: 24px 24px 0px 0px;
    font-size: 30px;
    color: #ffffff;
    text-align: center;
  }
  // 面授班
  .tab {
    margin-bottom: 50px;
  }
  ul {
    @extend %clearfix;
    text-align: center;
  }
  li {
    float: left;
    width: 164px;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    font-size: 20px;
  }
  .widest {
    width: 704px;
  }
  .thead {
    li {
      height: 60px;
      line-height: 60px;
      background-color: #f3a147;
      font-weight: bold;
      color: #ffffff;
    }
  }
  .tbody {
    li {
      // height: 66px;
      font-size: 16px;
      line-height: 66px;
      background-color: #eaeff4;
      &.widest {
        text-align: left;
        width: 669px;
        padding-left: 35px;
      }
      &.bold {
        font-weight: bold;
      }
    }
  }
  .high {
    li {
      height: 91px;
      line-height: 91px;
      &.br {
        height: 70px;
        padding-top: 21px;
        line-height: 26px;
      }
    }
  }
  // 网课套餐
  .wk {
    .tbody {
      li {
        padding: 20px 0;
        line-height: 112px;
        &.widest {
          padding: 20px 0 20px 35px;
        }
        &.br {
          padding: 48px 0;
          line-height: 28px;
        }
      }
    }
    .five-lines {
      li {
        line-height: 140px;
        &.br {
          padding: 62px 0;
        }
      }
    }
    .six-lines {
      li {
        line-height: 168px;
        &.br {
          padding: 76px 0;
        }
        &.two-br {
          padding: 62px 0;
          line-height: 28px;
        }
      }
    }
    span {
      font-weight: bold;
      color: #e57f0e;
    }
  }
}
.weal {
  padding: 70px 0 46px;
  background-color: #f2f2f2;
  border-radius: 8px;
  .coupon {
    padding-top: 60px;
    margin-bottom: 24px;
    text-align: center;
    li {
      @extend %in-b;
      width: 254px;
      padding: 10px 0 10px 12px;
      margin: 0 6px;
      background: url(../images/coupon.png) no-repeat;
    }
    .fl {
      width: 204px;
    }
    .price {
      padding-top: 18px;
      font-size: 30px;
      line-height: 40px;
      font-weight: bold;
      color: #fe6d0d;
      span {
        font-size: 60px;
        color: #333333;
      }
    }
    .rule {
      margin-bottom: 8px;
      line-height: 25px;
      color: #444444;
    }
    .fr {
      width: 30px;
      padding: 6px 10px;
      writing-mode: lr-tb;
      font-size: 18px;
      font-weight: bold;
      line-height: 22px;
      color: #ffffff;
    }
  }
  .explain {
    padding: 0 42px;
    @extend %clearfix;
    .fl {
      width: 524px;
      padding: 8px 0 6px 20px;
      border: dotted 1px #639deb;
    }
    .l-title {
      font-size: 20px;
      line-height: 25px;
      font-weight: bold;
      color: #ff6803;
    }
    .fr {
      width: 544px;
      .sign-in {
        @extend %clearfix;
      }
      input {
        float: left;
        width: 266px;
        height: 50px;
        line-height: 50px;
        background-color: #ffffff;
      }
      .auth {
        float: right;
        margin-bottom: 13px;
        input {
          width: 216px;
        }
        .get-auth {
          float: right;
          width: 50px;
          background-color: #fff2e6;
          text-indent: 0;
          cursor: pointer;
          color: #f53f00;
        }
      }
      .submit {
        width: 100%;
        font-size: 18px;
        font-weight: bold;
        color: #ffffff;
        background-image: linear-gradient(-90deg, #2277e1 0%, #6ea4ec 100%);
      }
    }
  }
}
.us {
  padding: 70px 0 60px;
  .us-cont {
    padding-top: 48px;
  }
}
.footer {
  height: 62px;
  line-height: 62px;
  background-color: #3a3b3e;
  color: #666666;
  text-align: center;
}

// 左侧
.left-side {
  position: fixed;
  top: 20%;
  left: 0;
  width: 177px;
  text-align: center;
  .s-head {
    padding: 13px 0 10px;
    background: url(../images/side_1.png) no-repeat;
    font-size: 16px;
    line-height: 16px;
    font-weight: bold;
    color: #ffffff;
    span {
      display: block;
      padding-top: 22px;
      font-size: 20px;
      line-height: 20px;
      color: #ffdc7e;
    }
  }
  ul {
    padding: 0 19px;
  }
  li {
    line-height: 40px;
    background: #fff;
    box-shadow: 0px 2px 20px 0px rgba(79, 79, 79, 0.21);
    a {
      display: block;
      color: #444444;
      transition: transform 0.5s;
      &:hover {
        transform: translateY(-3px);
      }
    }
    &:nth-child(2n) {
      a {
        color: #e15500;
      }
    }
  }
  .s-bottom {
    padding: 0 19px 0 20px;
  }
  .sign-in {
    padding: 9px 6px 44px;
    background: url(../images/side_2.png) no-repeat;
  }
  input {
    width: 100%;
    height: 37px;
    line-height: 37px;
    border-radius: 3px;
    margin-bottom: 7px;
    background-color: #ffffff;
  }
  .submit {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    background-image: linear-gradient(0deg, #ff4f37 0%, #ff8e52 100%);
  }
  .black-to-top {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 138px;
    height: 51px;
    cursor: pointer;
  }
}
// 右侧
.right-side {
  position: fixed;
  top: 22%;
  right: 0;
  width: 120px;
  padding: 114px 12px 65px;
  background: url(../images/side_3.png) no-repeat;
  text-align: center;
  .close {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 9px;
    right: 11px;
    cursor: pointer;
  }
  .contact {
    padding: 9px 3px 0 4px;
    a {
      display: block;
      line-height: 32px;
      font-size: 16px;
      color: #444;
      border-bottom: 1px solid #e8e8e8;
      transition: transform 1s;
      &:hover {
        transform: translateY(-3px);
      }
      &:last-child {
        border-bottom: 0;
      }
    }
    span {
      @extend %in-b;
      width: 39px;
      height: 18px;
      line-height: 18px;
      margin-left: 5px;
      background-image: linear-gradient(-56deg, #ff4f37 0%, #ff8e52 100%);
      border-radius: 9px;
      color: #fff;
      font-size: 12px;
    }
  }
  .black-to-top {
    position: absolute;
    bottom: 0;
    width: 86%;
    height: 60px;
    cursor: pointer;
  }
}
